body { 
  background-color: #F4FFD6;
  overflow-x: hidden;
  overflow-y: auto;
}

@font-face {
  font-family: "AmericanCaptain";
  src: url("./assets/fonts/AmericanCaptain-MdEY.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.head-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  font-family: "AmericanCaptain";
  font-size: 100px;
  color: #EF233C;
  background-color: #F4FFD6;
}

.head-container h1 {
  margin: 0;
}

.head-img {
  width: 200px;
  height: 200px;
  margin-top: 15%;
  background-color: #EF233C;
  z-index: 5;
}

.loading-container {
  display: flex;
  justify-content: center;
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #F4FFD6;
}

.load  {
  color: #EF233C;
  margin-top: 20%;
  left: 0;
}